{
  "ignore": ["package-lock.json", "package.json", "yarn.lock"],
  "linters": {
    '*.{scss,css},!/dist/*.{scss,css}': ['npm run lint:styles', 'npm run format', 'git add'],
    '*.{json},!/dist/*.{json}': ['npm run format', 'git add'],
    './src/client/*.{ts}': ['npm run lint:client', 'npm run format', 'git add'],
  }
}
