<div class="app-login">
  <form [formGroup]="loginForm" class="login-form" (submit)="login()">
    <div class="login-image"></div>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" class="login-buton">Login</button>
  </form>
</div>
