<div class="app-date-filter">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter by
        </mat-panel-title>
        <mat-panel-description class="filter-icon">
          <mat-icon>tune</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form class="filter-container">
        <mat-form-field class="from">
          <input matInput [matDatepicker]="from" placeholder="From" [formControl]="fromDate" (focus)="from.open()"
            readonly>
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from touchUi></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="to">
          <input matInput [matDatepicker]="to" placeholder="To" [formControl]="toDate" (focus)="to.open()" readonly>
          <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
          <mat-datepicker #to touchUi></mat-datepicker>
        </mat-form-field>
      </form>
      <button mat-button (click)="filter()" [disabled]="fromDate.invalid || toDate.invalid">Basic</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
